<!-- BEGIN_INCLUDE(australia-post:create-booking) -->
    <australia-post:create-booking config-ref="" credential="#[map-payload:credential]" order="#[map-payload:order]" />
<!-- END_INCLUDE(australia-post:create-booking) -->
